# Imports

In [1]:
import edapy.datainfo as d_info
import edapy.load_data as d_load

# Load in Data

In [2]:
# load in data 
weather_df = d_load.load_df(r'data\clean_weather_data.csv')

In [3]:
# instantiate custom package class for eda 
data = d_info.DataInfo(weather_df)

# Check Data for inconsistencies

In [8]:
data.describe()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,PRCP,SNOW,SNWD,...,TMIN,WDF2,WSF2,YEAR,MONTH,DAY,DAYS_SINCE_JAN_1,COUNTY,id,SUM_TAVG
0,USW00014733,"BUFFALO NIAGARA INTERNATIONAL, NY US",42.93998,-78.73606,216.2,2015-01-01,24.61,0.00,0.3,1.2,...,20.0,240,40.0,2015,1,1,0,Niagara Falls,3651055,49.910812
1,USW00014733,"BUFFALO NIAGARA INTERNATIONAL, NY US",42.93998,-78.73606,216.2,2015-01-02,13.20,0.00,0.0,1.2,...,22.0,250,29.1,2015,1,2,1,Niagara Falls,3651055,49.910812
2,USW00014733,"BUFFALO NIAGARA INTERNATIONAL, NY US",42.93998,-78.73606,216.2,2015-01-03,8.50,0.58,0.0,0.0,...,22.0,60,15.0,2015,1,3,2,Niagara Falls,3651055,49.910812
3,USW00014733,"BUFFALO NIAGARA INTERNATIONAL, NY US",42.93998,-78.73606,216.2,2015-01-04,17.67,0.52,0.0,0.0,...,28.0,250,38.0,2015,1,4,3,Niagara Falls,3651055,49.910812
4,USW00014733,"BUFFALO NIAGARA INTERNATIONAL, NY US",42.93998,-78.73606,216.2,2015-01-05,19.24,0.00,0.1,0.0,...,9.0,270,31.1,2015,1,5,4,Niagara Falls,3651055,49.910812

,LATITUDE,LONGITUDE,ELEVATION,AWND,PRCP,SNOW,SNWD,TAVG,TMAX,TMIN,WDF2,WSF2,YEAR,MONTH,DAY,DAYS_SINCE_JAN_1,id,SUM_TAVG
count,10960.000000,10960.000000,10960.000000,10960.000000,10960.000000,10960.000000,10960.000000,10960.000000,10960.000000,10960.000000,10960.000000,10960.000000,10960.000000,10960.000000,10960.000000,10960.000000,1.096000e+04,10960.000000
mean,41.865404,-75.076166,163.080000,9.319626,0.118629,0.167527,0.736168,51.470620,59.713070,43.196807,220.053832,19.880648,2017.500456,6.521898,15.732664,182.166971,3.629506e+06,51.470620
std,0.969652,2.071932,177.556465,4.057588,0.292703,1.045389,2.729762,18.225619,19.317337,17.990991,94.062662,6.596222,1.708259,3.449144,8.801772,105.467593,2.160306e+04,3.050087
min,40.639150,-78.736060,2.700000,0.450000,0.000000,0.000000,0.000000,-6.000000,1.000000,-18.000000,10.000000,4.900000,2015.000000,1.000000,1.000000,0.000000,3.601000e+06,47.158303
25%,40.793890,-75.979930,25.400000,6.490000,0.000000,0.000000,0.000000,37.000000,44.000000,30.000000,170.000000,15.000000,2016.000000,4.000000,8.000000,91.000000,3.606607e+06,49.910812
50%,42.206780,-73.799130,85.400000,8.720000,0.000000,0.000000,0.000000,52.000000,61.000000,43.000000,230.000000,19.900000,2017.500000,7.000000,16.000000,182.000000,3.637869e+06,50.492701
75%,42.747220,-73.763900,216.200000,11.410000,0.070000,0.000000,0.000000,68.000000,77.000000,59.000000,300.000000,23.900000,2019.000000,10.000000,23.000000,273.250000,3.651000e+06,54.166286
max,42.939980,-73.101810,485.700000,29.970000,4.020000,31.200000,39.000000,89.000000,99.000000,82.000000,360.000000,67.100000,2020.000000,12.000000,31.000000,365.000000,3.651055e+06,55.625000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10960 entries, 0 to 10959
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   STATION           10960 non-null  object
 1   NAME              10960 non-null  object
 2   LATITUDE          10960 non-null  float64
 3   LONGITUDE         10960 non-null  float64
 4   ELEVATION         10960 non-null  float64
 5   DATE              10960 non-null  object
 6   AWND              10960 non-null  float64
 7   PRCP              10960 non-null  float64
 8   SNOW              10960 non-null  float64
 9   SNWD              10960 non-null  float64
 10  TAVG              10960 non-null  float64
 11  TMAX              10960 non-null  float64
 12  TMIN              10960 non-null  float64
 13  WDF2              10960 non-null  int64
 14  WSF2              10960 non-null  float64
 15  YEAR              10960 non-null  int64
 16  MONTH             10960 non-null  int64
 17  DAY               10960 non-null  int64
 18  DAYS_SINCE_JAN_1  10960 non-null  int64
 19  COUNTY            10960 non-null  object
 20  id                10960 non-null  int64
 21  SUM_TAVG          10960 non-null  float64
dtypes: float64(12), int64(6), object(4)
memory usage: 1.8+ MB

None

# Feature engineering

# Standardization and Normalization

cycle per model
<!--  -->

# Feature Selection

# Train and test split

# Resampling - dealing with imbalanced data

# Define models

# Train - fit

# Predict

# Visual and numerical analysis of models outcomes

## Confusion matrics
## Other metrics relavant for the model selected mean square error, accuracy and so on

<!--  -->

# Comparison

# Conclusion and Future work