# Imports

In [1]:
import edapy.datainfo as d_info
import edapy.load_data as d_load
import model_predict_py.model as model

# Load in Data

In [2]:
# load in data 
weather_df = d_load.load_df(r'data\clean_weather_data.csv')

In [3]:
# instantiate custom package class for eda 
data = d_info.DataInfo(weather_df)

In [4]:
# instantiate class for models
md = model.Modelpredict()

# Check Data for inconsistencies

In [5]:
data.describe()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,PRCP,SNOW,SNWD,...,TMIN,WDF2,WSF2,YEAR,MONTH,DAY,DAYS_SINCE_JAN_1,COUNTY,id,SUM_TAVG
0,USW00014733,"BUFFALO NIAGARA INTERNATIONAL, NY US",42.93998,-78.73606,216.2,2015-01-01,24.61,0.00,0.3,1.2,...,20.0,240,40.0,2015,1,1,0,Niagara Falls,3651055,49.910812
1,USW00014733,"BUFFALO NIAGARA INTERNATIONAL, NY US",42.93998,-78.73606,216.2,2015-01-02,13.20,0.00,0.0,1.2,...,22.0,250,29.1,2015,1,2,1,Niagara Falls,3651055,49.910812
2,USW00014733,"BUFFALO NIAGARA INTERNATIONAL, NY US",42.93998,-78.73606,216.2,2015-01-03,8.50,0.58,0.0,0.0,...,22.0,60,15.0,2015,1,3,2,Niagara Falls,3651055,49.910812
3,USW00014733,"BUFFALO NIAGARA INTERNATIONAL, NY US",42.93998,-78.73606,216.2,2015-01-04,17.67,0.52,0.0,0.0,...,28.0,250,38.0,2015,1,4,3,Niagara Falls,3651055,49.910812
4,USW00014733,"BUFFALO NIAGARA INTERNATIONAL, NY US",42.93998,-78.73606,216.2,2015-01-05,19.24,0.00,0.1,0.0,...,9.0,270,31.1,2015,1,5,4,Niagara Falls,3651055,49.910812

,LATITUDE,LONGITUDE,ELEVATION,AWND,PRCP,SNOW,SNWD,TAVG,TMAX,TMIN,WDF2,WSF2,YEAR,MONTH,DAY,DAYS_SINCE_JAN_1,id,SUM_TAVG
count,10960.000000,10960.000000,10960.000000,10960.000000,10960.000000,10960.000000,10960.000000,10960.000000,10960.000000,10960.000000,10960.000000,10960.000000,10960.000000,10960.000000,10960.000000,10960.000000,1.096000e+04,10960.000000
mean,41.865404,-75.076166,163.080000,9.319626,0.118629,0.167527,0.736168,51.470620,59.713070,43.196807,220.053832,19.880648,2017.500456,6.521898,15.732664,182.166971,3.629506e+06,51.470620
std,0.969652,2.071932,177.556465,4.057588,0.292703,1.045389,2.729762,18.225619,19.317337,17.990991,94.062662,6.596222,1.708259,3.449144,8.801772,105.467593,2.160306e+04,3.050087
min,40.639150,-78.736060,2.700000,0.450000,0.000000,0.000000,0.000000,-6.000000,1.000000,-18.000000,10.000000,4.900000,2015.000000,1.000000,1.000000,0.000000,3.601000e+06,47.158303
25%,40.793890,-75.979930,25.400000,6.490000,0.000000,0.000000,0.000000,37.000000,44.000000,30.000000,170.000000,15.000000,2016.000000,4.000000,8.000000,91.000000,3.606607e+06,49.910812
50%,42.206780,-73.799130,85.400000,8.720000,0.000000,0.000000,0.000000,52.000000,61.000000,43.000000,230.000000,19.900000,2017.500000,7.000000,16.000000,182.000000,3.637869e+06,50.492701
75%,42.747220,-73.763900,216.200000,11.410000,0.070000,0.000000,0.000000,68.000000,77.000000,59.000000,300.000000,23.900000,2019.000000,10.000000,23.000000,273.250000,3.651000e+06,54.166286
max,42.939980,-73.101810,485.700000,29.970000,4.020000,31.200000,39.000000,89.000000,99.000000,82.000000,360.000000,67.100000,2020.000000,12.000000,31.000000,365.000000,3.651055e+06,55.625000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10960 entries, 0 to 10959
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   STATION           10960 non-null  object
 1   NAME              10960 non-null  object
 2   LATITUDE          10960 non-null  float64
 3   LONGITUDE         10960 non-null  float64
 4   ELEVATION         10960 non-null  float64
 5   DATE              10960 non-null  object
 6   AWND              10960 non-null  float64
 7   PRCP              10960 non-null  float64
 8   SNOW              10960 non-null  float64
 9   SNWD              10960 non-null  float64
 10  TAVG              10960 non-null  float64
 11  TMAX              10960 non-null  float64
 12  TMIN              10960 non-null  float64
 13  WDF2              10960 non-null  int64
 14  WSF2              10960 non-null  float64
 15  YEAR              10960 non-null  int64
 16  MONTH             10960 non-null  int64
 17  DAY               10960 non-null  int64
 18  DAYS_SINCE_JAN_1  10960 non-null  int64
 19  COUNTY            10960 non-null  object
 20  id                10960 non-null  int64
 21  SUM_TAVG          10960 non-null  float64
dtypes: float64(12), int64(6), object(4)
memory usage: 1.8+ MB

None

# Feature engineering

This was covered in midterm project when the team performed EDA. It may still be possible to add features that show a relationship between other features. Example: from displacement and time we can get velocity.

Note to team: If anyone can thing off a feature to add please bring up.

In [6]:
df = data.drop(weather_df, ['STATION', 'id', 'SUM_TAVG', 'NAME', 'DATE', 'TMAX'])

In [7]:
df = md.one_hot_encode(df, 'COUNTY')

In [8]:
df

,LATITUDE,LONGITUDE,ELEVATION,AWND,PRCP,SNOW,SNWD,TAVG,TMIN,WDF2,WSF2,YEAR,MONTH,DAY,DAYS_SINCE_JAN_1,COUNTY__Albany,COUNTY__Binghamton,COUNTY__Islip,COUNTY__New York,COUNTY__Niagara Falls
0,42.93998,-78.73606,216.2,24.61,0.00,0.3,1.2,23.0,20.0,240,40.0,2015,1,1,0,0,0,0,0,1
1,42.93998,-78.73606,216.2,13.20,0.00,0.0,1.2,31.0,22.0,250,29.1,2015,1,2,1,0,0,0,0,1
2,42.93998,-78.73606,216.2,8.50,0.58,0.0,0.0,27.0,22.0,60,15.0,2015,1,3,2,0,0,0,0,1
3,42.93998,-78.73606,216.2,17.67,0.52,0.0,0.0,44.0,28.0,250,38.0,2015,1,4,3,0,0,0,0,1
4,42.93998,-78.73606,216.2,19.24,0.00,0.1,0.0,20.0,9.0,270,31.1,2015,1,5,4,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10955,40.63915,-73.76390,2.7,7.61,0.00,0.0,0.0,29.0,24.0,280,19.9,2020,12,27,361,0,0,0,1,0
10956,40.63915,-73.76390,2.7,10.96,0.00,0.0,0.0,41.0,33.0,270,19.9,2020,12,28,362,0,0,0,1,0
10957,40.63915,-73.76390,2.7,16.11,0.00,0.0,0.0,40.0,28.0,330,29.1,2020,12,29,363,0,0,0,1,0
10958,40.63915,-73.76390,2.7,9.62,0.00,0.0,0.0,33.0,24.0,210,19.9,2020,12,30,364,0,0,0,1,0
10959,40.63915,-73.76390,2.7,11.18,0.36,0.0,0.0,44.0,35.0,330,21.0,2020,12,31,365,0,0,0,1,0

# Standardization

while we do have separate method tro do this it is better to use a pipeline

In [9]:
df_standardized = md.standardize(df)

In [10]:
df_standardized

array([[ 1.10825896, -1.76649645,  0.29918609, ..., -0.5       ,
        -0.5       ,  2.        ],
       [ 1.10825896, -1.76649645,  0.29918609, ..., -0.5       ,
        -0.5       ,  2.        ],
       [ 1.10825896, -1.76649645,  0.29918609, ..., -0.5       ,
        -0.5       ,  2.        ],
       ...,
       [-1.26469137,  0.63338261, -0.90330317, ..., -0.5       ,
         2.        , -0.5       ],
       [-1.26469137,  0.63338261, -0.90330317, ..., -0.5       ,
         2.        , -0.5       ],
       [-1.26469137,  0.63338261, -0.90330317, ..., -0.5       ,
         2.        , -0.5       ]])

# Normalization

while we do have separate method tro do this it is better to use a pipeline

In [11]:
df_normalized = md.normalize(df)

In [12]:
df_normalized

array([[1.        , 0.        , 0.44202899, ..., 0.        , 0.        ,
        1.        ],
       [1.        , 0.        , 0.44202899, ..., 0.        , 0.        ,
        1.        ],
       [1.        , 0.        , 0.44202899, ..., 0.        , 0.        ,
        1.        ],
       ...,
       [0.        , 0.88248835, 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.88248835, 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.88248835, 0.        , ..., 0.        , 1.        ,
        0.        ]])

cycle per model
<!--  -->

# Feature Selection

# Train and test split

In [13]:
X_train, X_test, y_train, y_test = md.split(df, 'TAVG', 0.2)

# Resampling - dealing with imbalanced data

# Define models

# Linear Regression

## Avarage Temperature

### with TMAX and TMIN

In [14]:
df = data.drop(weather_df, ['STATION', 'id', 'SUM_TAVG', 'NAME', 'DATE'])
df = md.one_hot_encode(df, 'COUNTY')

In [15]:
# build model, fit and predict
Y_pred, Y_test = md.linear_reg(df, 'TAVG')

Pipeline Mean Squered Error:  3.615036846077355
Pipeline Mean Absolute Error:  1.3544636747262773
Pipeline Score 0.9888881669116166

In [16]:
result = md.make_results_df(Y_pred, Y_test)
result.head(100)

       Actual  Predicted
4984     62.0  62.656250
4710     28.0  26.718750
9413     61.0  61.726562
6587     37.0  36.625000
10417    72.0  72.375000
...       ...        ...
3746     41.0  39.734375
4974     79.0  80.382812
5948     51.0  53.507812
5506     35.0  36.398438
1730     61.0  61.625000

[100 rows x 2 columns]

### with TMAX

In [17]:
df = data.drop(weather_df, ['STATION', 'id', 'SUM_TAVG', 'NAME', 'DATE', 'TMIN'])
df = md.one_hot_encode(df, 'COUNTY')

In [18]:
# build model, fit and predict
Y_pred, Y_test = md.linear_reg(df, 'TAVG')

Pipeline Mean Squered Error:  11.574549041525291
Pipeline Mean Absolute Error:  2.680856523722628
Pipeline Score 0.9644223662167384

In [19]:
result = md.make_results_df(Y_pred, Y_test)
result.head(100)

       Actual  Predicted
4984     62.0  64.937500
4710     28.0  24.406250
9413     61.0  64.023438
6587     37.0  31.570312
10417    72.0  69.429688
...       ...        ...
3746     41.0  39.875000
4974     79.0  77.109375
5948     51.0  53.789062
5506     35.0  38.828125
1730     61.0  65.320312

[100 rows x 2 columns]

### with TMIN

In [20]:
df = data.drop(weather_df, ['STATION', 'id', 'SUM_TAVG', 'NAME', 'DATE', 'TMAX'])
df = md.one_hot_encode(df, 'COUNTY')

In [21]:
# build model, fit and predict
Y_pred, Y_test = md.linear_reg(df, 'TAVG')

Pipeline Mean Squered Error:  12.1900599959993
Pipeline Mean Absolute Error:  2.7030644103558394
Pipeline Score 0.9625304200813599

In [22]:
result = md.make_results_df(Y_pred, Y_test)
result.head(100)

       Actual  Predicted
4984     62.0  59.250000
4710     28.0  30.812500
9413     61.0  59.281250
6587     37.0  42.648438
10417    72.0  74.757812
...       ...        ...
3746     41.0  40.164062
4974     79.0  81.187500
5948     51.0  53.187500
5506     35.0  34.062500
1730     61.0  57.437500

[100 rows x 2 columns]

### without TMAX and TMIN

In [23]:
df = data.drop(weather_df, ['STATION', 'id', 'SUM_TAVG', 'NAME', 'DATE', 'TMAX', 'TMIN'])
df = md.one_hot_encode(df, 'COUNTY')

In [24]:
# build model, fit and predict
Y_pred, Y_test = md.linear_reg(df, 'TAVG')

Pipeline Mean Squered Error:  208.08277080006843
Pipeline Mean Absolute Error:  11.71929174270073
Pipeline Score 0.36039904539074596

In [25]:
result = md.make_results_df(Y_pred, Y_test)
result.head(100)

       Actual  Predicted
4984     62.0    48.6250
4710     28.0    51.7500
9413     61.0    59.7500
6587     37.0    49.5000
10417    72.0    64.8750
...       ...        ...
3746     41.0    46.9375
4974     79.0    48.2500
5948     51.0    53.8750
5506     35.0    38.1250
1730     61.0    55.0000

[100 rows x 2 columns]

# Train - fit

# Predict

# Visual and numerical analysis of models outcomes

## Confusion matrics
## Other metrics relavant for the model selected mean square error, accuracy and so on

<!--  -->

# Comparison

# Conclusion and Future work